record(longout, "$(clsName):dac")
{
	field(DESC, "SR pwrsup setpoint")
	field(DTYP, "OCM Setpoint")
	field(OUT, "@C:$(crate_id) A:$(baseAddr) N:$(channel)")
	field(OMSL, "supervisory")
	field(HOPR, "7602176")
	field(HIHI, "7602176")
	field(HIGH, "7601176")
	field(LOW, "-7601176")
	field(LOLO, "-7602176")
	field(LOPR, "-7602176")
	field(EGU, "DAC Counts")
}
